<body class="h-screen bg-neutral-950 text-gray-100 font-sans p-10 min-h-screen grid grid grid-cols-8 grid-rows-8 gap-5">

<app-simple-value-information
  [title]="'Not Started jobs'"
  [value]="((remainingTasks$ | async)?.notStartedJobs || 0).toString()"
/>

<app-simple-value-information
  [title]="'Pending jobs'"
  [value]="((remainingTasks$ | async)?.pendingJobs || 0).toString()"
/>

<app-simple-value-information
  [title]="'Running jobs'"
  [value]="((remainingTasks$ | async)?.runningJobs || 0).toString()"
/>

<app-simple-value-information
  [title]="'Finished jobs'"
  [value]="((remainingTasks$ | async)?.finishedJobs || 0).toString()"
/>

<app-simple-value-information
  [title]="'Failed jobs'"
  [value]="((remainingTasks$ | async)?.failedJobs || 0).toString()"
/>

<div class="bg-neutral-900 border border-zinc-800 rounded-lg shadow-md overflow-x-auto p-4 col-span-3 row-span-4">
  @if (currentJob.stats) { <app-game-viewer [moves]="currentJob.stats.moves"></app-game-viewer> }
</div>

<div class="bg-neutral-900 border border-zinc-800 rounded-lg shadow-md overflow-x-auto p-4 col-span-5 row-span-4">
  <table class="min-w-full border border-zinc-800 rounded-md divide-y divide-zinc-800 overflow-hidden">
    <tr>
      <th class="px-4 text-left"></th>
      <th class="px-4 py-2 text-left">Jobs UUID</th>
      <th class="px-4 text-left">Game Time</th>
      <th class="px-4 text-left">Winner</th>
      <th class="px-4 text-left">NB of moves</th>
    </tr>

    @for (element of (jobsArray$ | async); track element.jobsId) {
      <tr class="hover:bg-neutral-800 transition-colors duration-200">
        <td class="px-4"><app-status-indicator [status]="element.status"></app-status-indicator></td>
        <td class="px-4 py-3">{{element.jobsId}}</td>
        <td class="px-4">{{element.stats ? msToTime(element.stats.gameTime) : 'NOT FINISHED'}}</td>
        <td class="px-4"><app-winner-indicator [doesRedWin]="element.stats ? element.stats.doesRedWin : null"></app-winner-indicator></td>
        <td class="px-4">{{element.stats ? element.stats.moves.length : 'NOT FINISHED'}}</td>
      </tr>
    }
  </table>
</div>

<div class="bg-neutral-900 border border-zinc-800 rounded-lg shadow-md overflow-x-auto p-4 col-span-2 row-span-2">
  <app-plotly-pie-charts

    [values]="winnerValues"
    [colors]="['#ef4444', '#fde047', '#e5e7eb']"
    [labels]="['Red wins', 'Yellow wins', 'Draws']"
  />
</div>

<app-simple-value-information
  [title]="'Red deepness'"
  [value]="redDeepness"
/>

<div class="bg-neutral-900 border border-zinc-800 rounded-lg shadow-md overflow-x-auto p-4 col-span-2 row-span-3">

</div>

<div class="bg-neutral-900 border border-zinc-800 rounded-lg shadow-md overflow-x-auto p-4 col-span-3 row-span-3">

</div>

<app-simple-value-information
  [title]="'Yellow deepness'"
  [value]="yellowDeepness"
/>

<div class="bg-neutral-900 border border-zinc-800 rounded-lg shadow-md overflow-x-auto p-4 col-span-2 row-span-2">
  <app-plotly-line-charts
    [x]="movesTimeValue.x"
    [y]="movesTimeValue.y"
    [title]="'Moves time'"
  />
</div>

<app-simple-value-information
  [title]="'Average game time'"
  [value]="averageGameTime"
/>

<div class="bg-neutral-900 border border-zinc-800 rounded-lg shadow-md overflow-x-auto p-4">

</div>

</body>
