<body class="h-full bg-neutral-950 text-gray-100 font-sans grid grid-cols-5 gap-4">

  <div class="bg-neutral-900 border border-zinc-800 rounded-lg shadow-md overflow-x-auto p-4 col-span-4 overflow-scroll">
    <table class="min-w-full border border-zinc-800 rounded-md divide-y divide-zinc-800 overflow-hidden">
      <tr>
        <th class="px-4 py-2 text-left">Batch UUID</th>
        <th class="px-4 text-left">Status</th>
        <th class="px-4 text-left">Action</th>
      </tr>

      @for (element of (batchesArray$ | async); track element.id) {
        <tr class="hover:bg-neutral-800 transition-colors duration-200">
          <td class="px-4 py-3">{{element.id}}</td>
          <td class="px-4"><app-status-indicator [status]="element.status"></app-status-indicator></td>
          <td class="px-4"><a [routerLink]="['/batches', element.id]" class="underline">More</a></td>
        </tr>
      }
    </table>
  </div>

  <div class="bg-neutral-900 border border-zinc-800 rounded-lg shadow-md p-2 px-4 overflow-scroll">
    <div class="sticky top-0 z-10 bg-neutral-900 pt-2">
      <button (click)="addJobParameters()" class="w-full mb-4 bg-neutral-100 text-zinc-800 px-24 py-2 rounded-lg shadow hover:brightness-90 transition">
        Add
      </button>
    </div>


    @for (parameters of jobsParameters; track $index) {
      <app-card-parameters [parameters]="parameters" (remove)="jobsParameters.splice($index, 1)"></app-card-parameters>
    }

    @if (jobsParameters.length > 0) {
      <div class="sticky bottom-0 z-10 bg-neutral-900 pt-2">
        <button (click)="startBatch()" class="s w-full bg-neutral-100 text-zinc-800 px-24 py-2 rounded-lg shadow hover:brightness-90 transition">
          Start
        </button>
      </div>
    }
  </div>
</body>
